* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    }
body{
    background-color: var(--GrisClaro);
    font-family: var(--fuente);
}
main{
    width: 97%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}