main *{
    margin: 0;
}
main{
    width: 90%;
    margin: 0 auto;
}
main section h3{
    font-size: 24px;
    margin: 10px 0;
}
main section article{
    margin: 10px 0;
    background-color: white;
}
main section article img{
    width: 100%;
}
main section article div{
    padding: 15px;
    border-top: 1px solid #ebebeb;
    position: relative;
}
main section article div i{
    padding: 15px;
    border: var(--Verde) solid 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}
main section article div p.descuento, main section article div h4{
    font-size: 16px;
}
main section article div p.precio{
    font-size: 18px;
}
main section article div i, main section article div p.descuento{
    color: var(--Verde);
}
main section article h4{
    margin: 15px 0;
    color: var(--GrisOscuro);
    display: none;
}

/* Tablet */
@media (min-width:461px){
    main section article{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    main section article div h4{
        display: block;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main section h3{
        width: 100%;
    }
    main section article{
        width: 45%;
    }

}

/* Desktop */
@media (min-width:769px){
    main section article{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    main section article div h4{
        display: block;
    }
    main section article{
        width: 30%;
    }
}